{% extends "base.html.twig" %}

{% block title 'Tous  Nos biens' %}

{% block body %}


	<div class="container mt-4">
		<h1>Tous nous biens</h1>

		<div class="row">
	
				{% for property in properties %}

                    
                    <div class="col-md-4">
                    
					{% include "property/_property.html.twig" %}<!--create this _property.html.twwig view-->
                    
                    </div>

				{% endfor %}
			
		</div>
		<div class="pagination">
			{{ knp_pagination_render(properties) }} <!-- to show the pagination of this page -->
		</div>

	</div>

{% endblock %}
